{{define "View"}}
<!DOCTYPE html>
<html lang= "en-US">
<head>
    <title>Adhitia Cargo Form</title>
    <meta charset= "UTF-8"/>
</head>
<body>
    <h1>Data was updated</h1>
    
    </body>
</html>
{{ end }}